
<html>
    <head>
         </head>
    <body>
        <div class="dropdown">
             <img src="../assets/Amazon_Go_Grocery_3.0.jpg" class="imgs" routerLink="/header">
            <div class="dropbtn" routerLink="/header">Fruits</div>
            <div class="dropdown-content">
            <a routerLink="/header" >Apple</a>
            <a href="#">Orange</a>
            <a href="#">Mango</a>
            </div>
          </div>

          <div class="dropdown">
            <img src="../assets/fruits.jpg" class="imgr" routerLink="/vegetables">
           <div class="dropbtn1">vegetables</div>
           <div class="dropdown-content" class="dropdown-content1">
           <a routerLink="/header" >potato</a>
           <a href="#">Onion</a>
           <a href="#">tomato</a>
           </div>
           </div>
           <div>
             <button type="submit" routerLink="/modal">Click me</button>
           </div>
  </body>
</html>